<div class="home-about-wrap">
  <div class="container">
    <div class="home-about">
      <p class="eyebrow">{{ section.extra.section_about.eyebrow }}</p>
      <div class="home-about-inner">
        <h2 class="home-about-title">{{ section.extra.section_about.title }}</h2>
        <div class="home-about-body">
          <p>{{ section.extra.section_about.body }}</p>
          <a href="{{ section.extra.section_about.link }}" class="home-about-link">{{ section.extra.section_about.link_label }} &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>
